
*.dll
*.lock
*.vsidx
*.exe
*.pdb
*.winmd
*.pri
*.xml
*.xbf
*.props
*.targets
*.cache
*.cs
Pdf2Word_cloud/Pdf2Word_cloud/obj/x64/Debug/resources.resfiles
Pdf2Word_cloud/Pdf2Word_cloud/obj/x64/Debug/ResourceHandlingTask.state
Pdf2Word_cloud/Pdf2Word_cloud/obj/x64/Debug/qualifiers.txt.intermediate
*.appxrecipe
